* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-size: small;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: auto;
    height: 100vh;
    object-fit: cover;
}
p {
    border-bottom: 1px solid rgb(167, 167, 167);
    padding-bottom: 1em;
}
.container {
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}
.nature__text {
    margin-top: 0em;
    padding: 1rem;
    
    border: 8px rgba(0, 100, 0, 0.168);
    border-style:solid;
    height: max-content;
}

.flower {
    border: 8px rgba(100, 40, 0, 0.168);
    border-style:solid;
}
.slide {
    display: none;
}
.slide:first-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
    justify-content: center;
    position: relative;
    height: 100vh;
    
}

@media (max-width: 639px) {
    .slide:first-child {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 0;
        justify-content: center;
        position: relative;
        height: 100%;
        margin-bottom: 2em;
    }
    img {
        height: 50vh;
    }
}
@media screen and (orientation: landscape) {
.slide:first-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-gap: 1em;
    justify-content: center;
    position: relative;
    height: 100vh;
}
}
